.container {
    display: flex;
    padding: 2.5rem 0;
    grid-column: 2 / 10;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 72.2em) {
        grid-column: 1 / -1;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.btnBack {
    border: 0;
    display: flex;
    cursor: pointer;
    background: none;
    align-items: center;
    font-family: inherit;

    span {
        color: #2f3f5f;
        font-size: 1.3rem;
        margin-left: 0.9rem;
    }
}

.iconBack {
    width: 1.8rem;
    height: 1.8rem;
    stroke: #2f3f5f;
    stroke-width: 1.4;
}
