.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.5rem 1.4rem 3.5rem 1.4rem;

    button {
        border: 0;
        outline: none;
        cursor: pointer;
        color: #afafaf;
        font-weight: 600;
        background: none;
        font-size: 1.19rem;
        font-family: inherit;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #f6f7f8;
        transition: all 0.2s ease-in-out;

        &.activeTab {
            color: #0c75ec !important;
            background-color: #e8f0fe !important;
        }
    }
}

.tabLogin {
    padding: 1.2rem 2.09rem;
    border-radius: 0.35rem 0 0 0.35rem;
}

.tabRegister {
    padding: 1.2rem 1.2rem;
    border-radius: 0 0.35rem 0.35rem 0;
}

.dialog__width {
    @media screen and (min-width: 48em) {
        max-width: 43rem;
    }
}

.formSlider {
    display: flex;
    overflow: hidden;
    list-style-type: none;

    &__item {
        flex: 0 0 100%;
        background-color: #ffffff;
        transition: transform 0.35s ease;

        &:nth-of-type(1) {
            transform: translateX(0);

            &.translateX_out__left {
                transform: translateX(-100%);
            }
        }

        &:nth-of-type(2) {
            max-height: 0;
            transform: translateX(100%);

            &.translateX_in__left {
                max-height: 100%;
                transform: translateX(-100%);
            }
        }
    }
}
    