.container {
    flex: 1 0 40%;
    padding: 2rem;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;

    @media screen and (max-width: 72.2em) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    @media screen and (max-width: 38em) {
        display: none;
    }
}

.header {
    display: flex;
    justify-content: space-between;

    &__count {
        font-weight: 500;
        color: #2f3f5f;
        font-size: 1.3rem;

        span {
            font-size: 1.28;
            font-weight: 400;
            color: #777777;
        }
    }

    &__sort {
        display: flex;
        padding-bottom: 0.1rem;
        border-bottom: 1px solid #cfcfcf;

        span {
            color: #2f3f5f;
            font-size: 1.3rem;
            margin-right: 0.2rem;
        }

        select {
            border: 0;
            color: #777777;
            background: none;
            font-family: inherit;
        }
    }
}

.grid {
    gap: 2.5rem;
    display: grid;
    margin: 2rem 0 3rem 0;
    grid-template-rows: min-content;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));

    &__item {
        display: grid;
        position: relative;
        border-radius: 0.3rem;
        background-color: #ffffff;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, min-content);
        box-shadow: 0 0.5rem 1.5rem rgb(0 0 0 / 8%);

        & > *:not(:first-child) {
            padding-left: 1.7rem;
            padding-right: 1.7rem;
        }

        &_img {
            cursor: pointer;
            grid-row: 1 / 2;
            overflow: hidden;
            position: relative;
            grid-column: 1 / -1;
            border-radius: 0.3rem;

            figure > div {
                display: block !important;
            }
        }

        &_overlay {
            z-index: 1;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            padding: 1.35rem 1.2rem;
            background-color: #030a182d;

            span {
                color: #ffffff;
                font-weight: 500;
                font-size: 0.9rem;
                border-radius: 0.2rem;
                padding: 0.3rem 0.9rem;
                text-transform: uppercase;
                background-color: #0c75ec;
            }
        }

        &_badge {
            display: flex;
            margin-left: 0.3rem;
        }

        &_details {
            grid-row: 2 / 3;
            margin-top: 0.7rem;
            grid-column: 1 / -1;

            h3 {
                display: flex;
                color: #2f3f5f;
                font-weight: 600;
                font-size: 1.36rem;
                align-items: center;
            }

            p {
                font-weight: 400;
                color: #777777;
                line-height: 1.3;
                font-size: 1.2rem;
                margin-top: 0.5rem;
                letter-spacing: 0.11px;
            }
        }

        &_features {
            display: flex;
            grid-row: 3 / 4;
            margin: 1.5rem 0;
            grid-column: 1 / -1;
            align-items: center;
            justify-content: space-between;

            & > *:not(:last-child) {
                margin-right: 1rem;
            }

            div {
                display: flex;
                flex-direction: column;

                svg {
                    align-self: center;
                }

                span {
                    color: #777777;
                    font-size: 1.13rem;
                    margin-top: 0.3rem;
                    letter-spacing: 0.2px;
                }
            }
        }

        &_footer {
            display: flex;
            grid-row: 4 / -1;
            padding: 0.35rem 0;
            grid-column: 1 / -1;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #f1f1f1;
        }

        &_price {
            p {
                color: #2f3f5f;
                font-weight: 600;
                font-size: 1.35rem;
            }
        }

        &_actions {
            display: flex;
            align-items: center;

            button {
                border: 0;
                display: flex;
                padding: 0.7rem;
                cursor: pointer;
                background: none;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: #f6f6f6;
                }
            }
        }

        &_avatar {
            z-index: 2;
            right: 0rem;
            position: absolute;
            top: min(100vh - 16rem, 16rem);

            @media screen and (max-width: 72.2em) {
                top: min(100vh - 14.5rem, 14.5rem);
                // top: 14.5rem;
            }

            @media screen and (max-width: 37.5em) {
                @media screen and (max-width: 72.2em) {
                    top: min(100vh - 16rem, 16rem);
                }
            }

            figure {
                display: flex;
                width: 3.8rem;
                height: 3.8rem;
                overflow: hidden;
                border-radius: 50%;
                border: 2px solid #ffffff;
                background-color: #ffffff;
                box-shadow: 0 2px 1px 0 rgb(0 0 0 / 10%);
            }
        }
    }
}

.footer {
    display: flex;
}

.btnLoad {
    border: 0;
    margin: 0 auto;
    cursor: pointer;
    color: #0c75ec;
    background: none;
    font-weight: 600;
    font-size: 1.27rem;
    font-family: inherit;
    text-transform: uppercase;
}

.iconBed {
    width: 2.1rem;
    height: 2.2rem;
    stroke: #777777;
    stroke-width: 1.1;
}

.iconGarage,
.iconBathtub,
.iconRuler {
    width: 2rem;
    height: 2rem;
    stroke: #777777;
    stroke-width: 1.1;
}

.iconHeart,
.iconPhone {
    width: 1.8rem;
    height: 1.8rem;
    stroke: #777777;
    stroke-width: 1.1;
}

.iconVerified {
    width: 1.6rem;
    height: 1.6rem;
    fill: #0c75ec;
}
