.textError {
    font-weight: 400;
    color: #ee4540;
    font-size: 1.3rem;
    margin-top: 0.6rem;
}

.inputError {
    border-radius: 0.3rem;
    border: 1px solid #ee4540 !important;
}

.labelError {
    font-weight: 400;
    font-size: 1.3rem;
    color: #ee4540;
}
