.container {
    padding: 2.5rem 0;
    grid-column: 2 / 10;

    @media screen and (max-width: 72.2em) {
        grid-column: 1 / -1;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    @media screen and (max-width: 44.5em) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.title {
    display: flex;
    flex-direction: column;

    h2 {
        color: #2f3f5f;
        font-weight: 600;
        font-size: 2.1rem;
    }

    p {
        color: #777777;
        margin-top: 0.2rem;
        font-size: 1.3rem;
    }
}

.label {
    grid-column: 1 / -1;

    h3 {
        color: #2f3f5f;
        font-weight: 600;
        font-size: 1.4rem;
    }
}

.checkbox {
    grid-column: 1 / -1;

    label {
        display: block;
        cursor: pointer;
        user-select: none;
        font-weight: 400;
        font-size: 1.3rem;
        position: relative;
        padding-left: 2.5rem;
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;

        input {
            width: 0;
            height: 0;
            opacity: 0;
            cursor: pointer;
            position: absolute;
        }

        span {
            top: 0;
            left: 0;
            width: 1.8rem;
            height: 1.8rem;
            position: absolute;
            border-radius: 0.2rem;
            border: 1px solid #939598;
            background-color: transparent;

            &::after {
                width: 7px;
                top: 0.1rem;
                content: "";
                left: 0.5rem;
                height: 11px;
                display: none;
                position: absolute;
                border: solid #ffffff;
                transform: rotate(45deg);
                border-width: 0 3px 3px 0;
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
        }

        &:hover input + span {
            background-color: #0071f30e;
        }

        & > input[aria-checked="true"] + span {
            background-color: #0070f3;
            border: 1px solid #0070f3;
        }

        & > input[aria-checked="true"] + span::after {
            display: block;
        }
    }
}

.location__dropdown {
    left: 0;
    z-index: 3;
    top: 6.8rem;
    width: 100%;
    position: absolute;
    border-radius: 0.3rem;
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1.5rem rgb(0 0 0 / 8%);

    &_list {
        padding: 0.2rem 0;
        list-style-type: none;

        li {
            display: flex;
            cursor: pointer;
            align-items: center;
            padding: 0.85rem 1.4rem;
            transition: all 0.29 ease-in-out;

            &:hover {
                background-color: #f6f6f6;
            }

            .iconWrapper {
                display: block;
                width: 2.1rem;
                height: 2.1rem;
            }

            .iconWrapper + div {
                display: flex;
                margin-left: 1rem;
                flex-direction: column;

                span {
                    &:first-of-type {
                        font-weight: 600;
                        font-size: 1.44rem;
                    }

                    &:last-of-type {
                        color: #777777;
                        font-size: 1.33rem;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}

.form {
    display: grid;
    row-gap: 2.5rem;
    margin-top: 2.5rem;
    column-gap: 2.5rem;
    grid-template-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));

    &.imageGrid {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    @media screen and (max-width: 44.5em) {
        row-gap: 2rem;
    }

    @media screen and (max-width: 37.5em) {
        grid-template-columns: 1fr;
    }

    &__group {
        display: flex;
        position: relative;
        flex-direction: column;
    }

    &__label {
        color: #777777;
        font-size: 1.3rem;
        margin-bottom: 0.4rem;
        transition: all 0.2s ease-in-out;
    }

    &__image {
        padding: 0;
        color: transparent;
        background-color: #ffffff;
        border: 1px solid transparent !important;

        &::-webkit-file-upload-button {
            visibility: hidden;
        }

        &Tag {
            top: 40%;
            left: 50%;
            color: #777777;
            font-size: 1.3rem;
            position: absolute;
            margin-bottom: 0.4rem;
            transform: translate(-50%, -50%);
            transition: all 0.2s ease-in-out;
        }

        &::before {
            outline: none;
            color: #fff;
            cursor: pointer;
            font-weight: 500;
            text-align: center;
            font-size: 1.1rem;
            border-radius: 5rem;
            font-family: inherit;
            display: inline-block;
            content: "Upload Image";
            padding: 1.1rem 1.8rem;
            text-transform: uppercase;
            -webkit-user-select: none;
            border: 1px solid transparent;
            background: linear-gradient(top, #0c75ec, #0c75ec);

            @media screen and (max-width: 37.5em) {
                padding: 1.1rem 1.8rem;
                font-size: 1.35rem;
            }
        }

        &:hover::before {
            border-color: #0c75ec;
        }

        &:active::before {
            background: -webkit-linear-gradient(top, #0c75ec, #0c75ec);
        }
    }

    &__input {
        width: 100%;
        display: flex;
        outline: none;
        color: inherit;
        background: none;
        font-weight: 400;
        font-size: 1.4rem;
        padding: 2rem 1rem;
        font-family: inherit;
        border-radius: 0.3rem;
        background-color: #f6f6f6;
        border: 1px solid transparent;

        &::-webkit-input-placeholder {
            color: #9e9b9b;
        }
    }

    &__select {
        width: 100%;
        display: flex;
        outline: none;
        color: inherit;
        background: none;
        font-weight: 400;
        font-size: 1.4rem;
        padding: 2rem 1rem;
        font-family: inherit;
        border-radius: 0.3rem;
        background-color: #f6f6f6;
        border: 1px solid transparent;
    }

    &__textarea {
        width: 100%;
        display: flex;
        outline: none;
        color: inherit;
        background: none;
        font-weight: 400;
        font-size: 1.4rem;
        padding: 2rem 1rem;
        font-family: inherit;
        border-radius: 0.3rem;
        background-color: #f6f6f6;
        border: 1px solid transparent;

        &::-webkit-input-placeholder {
            color: #9e9b9b;
        }
    }

    &__button {
        grid-column: 1 / -1;
        justify-self: flex-start;

        button {
            border: 0;
            width: 100%;
            display: flex;
            color: #ffffff;
            cursor: pointer;
            font-weight: 500;
            background: none;
            font-size: 1.2rem;
            align-items: center;
            border-radius: 5rem;
            font-family: inherit;
            justify-content: center;
            padding: 1.35rem 2.2rem;
            text-transform: uppercase;
            background-color: #0c75ec;

            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }

            span {
                margin-left: 0.4rem;
            }
        }
    }
}

.imgPlaceholder {
    flex: 1;
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
    border: 3px dashed #ebebeb;

    div {
        height: 100%;
    }
}

.span__row_100 {
    grid-column: 1 / -1;
}

.iconMapPlace {
    width: 2.1rem;
    height: 2.1rem;
    stroke: #232323;
    stroke-width: 1.3;
}
