*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px * 100 = 62.5%; -> 1rem = 10px;

  @media screen and (min-width: 112.5em) {
    font-size: 72.5%;
  }
}

body {
  color: #393939;
  line-height: 1.6;
  font-weight: 400;
  background-color: #ffffff;
  font-family: "DM Sans", sans-serif;

  &::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #cccccc;
    border: 3px solid #cccccc;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.Toastify__toast-body {
  font-size: 1.4rem;
  font-family: "DM Sans", sans-serif;

  div {
    font-size: inherit;
    font-family: inherit;
  }
}

select,
option {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.rdw-list-dropdown,
.rdw-text-align-dropdown {
  z-index: 9 !important;
}